
<div class="content">
  <br><br>
  <p class="font-bold text-2xl text-center pb-10">How the app functions </p>

  <div class="pt-10 grid grid-cols-2 gap-4">
    <div class="text-lg">
        <p class="pb-3">How it works in 5 easy steps:</p>
        <p class="pb-3">1. Sign up with your wallet of choice</p>
        <p class="pb-3">2. Set a specific (SMART) goal or habit that you would like to form</p>
        <p class="pb-3">3. Pledge a customized amount of crypto to hold yourself accountable</p>
        <p class="pb-3">4. Check in daily after you have completed the task that will bring you closer to forming your habit</p>
        <p class="pb-3">5. For every successful daily checkin, you will earn some tickets that will increase your chances of winning at our monthly prize drawing</p>
        </div>
    <div class="ml-10">
        <img class="h-5/6 w-full" src="https://www.worksmartcoaching.com/hubfs/goal%20setting%20WSC%20blog%20feature%20image.png   " alt="Man-forming-new-habit">
    </div>
</div>
</div>

