<app-nav></app-nav>

<div class="content">
  <br><br>
  <p class="font-bold text-2xl first-paragraph">Define a new habit and turn it into a
  part of your lifestyle in the long-run. </p>
  
  
  <p>Good SMART goals:</p>

  <p>&#x2022; "I want to learn the fundamentals of Rust so that I can start building Substrate dapps. Everyday I will spend 1 hour
  learning Rust through videos, coding exercises, writing functions, etc".</p>

  <br>
  
  <p>&#x2022; "I want to practice Korean at least 30 minutes a day so
  that I can navigate my way when I travel to South Korea for the
  first time I want to be able to find my
  way around and ask for basic help in Korean".</p>

  <br>
  
  <p>&#x2022; "I want to master Figma so thot I con start prototyping new ideas and websites. Everyday I will spend 30 minutes
  learning theory, and 30 minutes practicing using Figma."</p>
  
  <br>

  <p>&#x2022; "I want to get healthier by doing more exercises and/or learning about nutrition daily. I will work out at least 3 times/
  week: go on a long walk, go for a run, go swimming, or go to the gym. On off days, I will learn about nutrition and/or watch
  some exercise videos to guide me.</p>


  <div class="input-habit">
      <form>
        <input type="text" id="habit" name="habit" placeholder="Write the habit that you want to form here, followed by the goal you can achieve with that habit...">  
        <input type="submit" value="Commit yourself!">
      </form>
    </div>

</div>
<app-how-the-app-functions></app-how-the-app-functions>
<app-current-pledges></app-current-pledges>
<app-faq></app-faq>