<div class="m-auto w-5/6 content">
    <br><br>
    <p class="font-bold text-2xl text-center pb-10">Current Pledges</p>
  
    <div class="pt-10 grid grid-cols-3 gap-20">
        <div>
            <img class="h-4/6 w-full" src="https://img.freepik.com/premium-photo/business-people-lifestyle-concept-portrait-handsome-african-american-man-cross-hands-chest-smiling-pleased_176420-33828.jpg?w=826" alt="User-1">
            <div class="grid grid-cols-2">
                <div class="w-full h-6 bg-gray-200 rounded-full dark:bg-white-700">
                    <div class="h-6 bg-blue-600 rounded-full dark:bg-green-500" style="width: 10%"></div>
                    <div class="italic mb-1 font-medium text-lg dark:text-black">User 1's goal</div>
                </div>
                <div>
                    <p class="text-lg text-center">Day 4/21</p>
                </div>
            </div>
            <div class="mt-8">
                <p class="text-lg text-left">100 USDC pledged</p>
                <p class="text-lg text-left">Remaining locked amount</p>
                <p class="text-lg text-left">80.953 USDC</p>
            </div>
        </div>
        <div>
            <img class="h-4/6 w-full" src="https://img.freepik.com/premium-photo/african-american-woman-white-wall_1368-111515.jpg?w=826" alt="User-2">
            <div class="grid grid-cols-2">
                <div class="w-full h-6 bg-gray-200 rounded-full dark:bg-white-700">
                    <div class="h-6 bg-blue-600 rounded-full dark:bg-green-500" style="width: 45%"></div>
                    <div class="italic mb-1 font-medium text-lg dark:text-black">User 2's goal</div>
                </div>
                <div>
                    <p class="text-lg text-center">Day 10/21</p>
                </div>
            </div>
            <div class="mt-8">
                <p class="text-lg text-left">100 USDC pledged</p>
                <p class="text-lg text-left">Remaining locked amount</p>
                <p class="text-lg text-left">80.953 USDC</p>
            </div>
        </div>
        <div>
            <img class="h-4/6 w-full" src="https://img.freepik.com/free-photo/bohemian-man-with-his-arms-crossed_1368-3542.jpg?w=740&t=st=1689381706~exp=1689382306~hmac=ae5fabbd97c7945173e90f53e624a7d2e1a49597e85b2af97376f808fe31d9a7" alt="User-3">
            <div class="grid grid-cols-2">
                <div class="w-full h-6 bg-gray-200 rounded-full dark:bg-white-700">
                    <div class="h-6 bg-blue-600 rounded-full dark:bg-green-500" style="width: 5%"></div>
                    <div class="italic mb-1 font-medium text-lg dark:text-black">User 3's goal</div>
                </div>
                <div>
                    <p class="text-lg text-center">Day 1/21</p>
                </div>
            </div>
            <div class="mt-8">
                <p class="text-lg text-left">100 USDC pledged</p>
                <p class="text-lg text-left">Remaining locked amount</p>
                <p class="text-lg text-left">80.953 USDC</p>
            </div>
        </div>
  </div>
  <div>
  