<div class="content">
    <div class="pt-10 flex items-center justify-center">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnf70iEre0_RQhLvpBBF2B6NchEQMfZQzM-rJtYbwbtJCK-E_XDkPAHgLTJ0mQIf0jv8k&usqp=CAU" 
    alt="congrats" class="w-2/5 congrats">
    </div>
<br>
<p class="text-center">Congratulations for taking the 1st step towards forming a new habit!
    <br>You can check your <a class="text-red-500"href="https://blockscout.com/shibuya">transaction</a> by following this link.</p>
</div>
