<app-nav-dapp></app-nav-dapp>

<div class="content">
    <br><br>
    <p class="font-bold text-2xl first-paragraph">Let's build a new habit!</p>
    <br>
<br>
<div class="flex justify-center space-y-20 h-64 bg-gray-400">   
<form class="w-full max-w-lg">
    <div class="flex flex-wrap -mx-3 mb-6 space-y-20">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-password">
            Smart goal
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-black-500 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-goal" type="text" placeholder="Write the goal you want to achieve by forming that habit...">
        </div>
      </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3  mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-pledged-amount">
          Pledged amount
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-black-500 border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-amount" type="text" placeholder="Amount">
      </div>
      <div class="w-full md:w-1/3 px-3 space-x-1 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-token">
          Token
        </label>
        <div class="relative">
          <select class="block appearance-none w-full bg-gray-200 border border-gray-500 text-black-500 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-token">
            <option value="usdc">USDC</option>
            <option value="weth">WETH</option>
            <option value="usdt">USDT</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-date">
          Start Date
        </label>
        <input class="appearance-none block w-full mr-5 bg-gray-200 text-black-500 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-date" type="date" placeholder="date" value="new Date()" readonly="readonly">
      </div>
     
      <div class="w-full md:w-1/3 px-3 mb-6 space-x-1 md:mb-0">
        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-duration">
          Duration <span>&#40;</span>in days<span>&#41;</span>
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-black-500 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-duration" type="text" placeholder="no. of days" value="21" readonly="readonly">
      </div>
    </div>

    <div class="w-full md:w-1/3 px-3 mb-6 space-y-2 space-x-20 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-duration">
          <!-- Duration <span>&#40;</span>in days<span>&#41;</span> -->
        </label>
        <input class="appearance-none block w-full bg-green-500 text-black-500 border border-gray-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-commit" type="text" placeholder="Commit!" type="submit" value="Commit!">
    </div>
  </form>
</div>
</div>

