<header>
    <nav>
        <div class="logo">
            <a href="home">Forge Habit</a>
        </div>
        <ul class="navbar">
            <li><a href="#">Docs</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">
                <select class="platform">
                    <option>Platform</option>
                    <option value="moonbeam">Moonbeam</option>
                    <option value="astar">Astar</option>
                </select>
            </a></li>
            <ng-content></ng-content>
        </ul>
    </nav>
</header>
